.documents {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url('../images/services-bg.png') center center no-repeat;
    background-size: cover;

    @include phones() {
        padding-top: 150px;
    }

    .documents__title {
        color: #ffffff;

        @include phones() {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .documents__list {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .list__item {
            width: 45%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: #ffffff;
            border-radius: 4px;
            margin-bottom: 30px;
            transition: .3s;
            cursor: pointer;

            @include phones() {
                width: 100%;
            }

            &:hover {
                background: #00B6E4;
                color: #ffffff;
            }
        }
    }
}