.map {
    padding-top: 150px;
    padding-bottom: 100px;
    background: url('../images/services-bg.png') center center no-repeat;
    background-size: cover;

    .map__title {
        color: #ffffff;
    }

    .map__inp {
        width: 100%;
        height: 50px;
        padding: 20px;
        background: #ffffff;
        border: none;
        border-radius: 4px;
        margin-bottom: 50px;
    }

    .map__yandex {
        width: 100%;
        height: 500px;
        background: yellow;
        border-radius: 4px;
    }
}