.news {
    padding-top: 150px;
    padding-bottom: 100px;
    background: url('../images/services-bg.png') center center no-repeat;
    background-size: cover;

    .hews__title {
        color: #ffffff;
    }

    .news__content {
        display: flex;
        justify-content: space-between;
    }

    .news__list {
        width: 45%;
        flex-direction: column;
        height: 500px;
        overflow: auto;
        background: #C4C4C4;
        padding: 20px;
        border-radius: 4px;
        
        .list__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            margin-bottom: 20px;
            height: 200px;
            padding: 15px;
            border-radius: 4px;
            transition: .3s;

            &:hover {
                background: $blue;
                color: #ffffff;
            }

            .item__title {
                margin: 0;
            }
            
            .item__link {
                color: $red;
                text-decoration: none;
                transition: .3s;

                &:hover {
                    color: lighten($color: $red, $amount: 15);
                }
            }
        }
    }

    .news__imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 500px;

        .imgs__item {
            width: 100%;

            .item__img {
                width: 100%;
            }
        }
    }
}