.reviews {
    padding-top: 100px;
    padding-bottom: 100px;
    background: url('../images/services-bg.png') center center no-repeat;
    background-size: cover;

    @include phones() {
        padding-top: 200px;
    }

    .reviews__title {
        color: #ffffff;
    }

    .reviews__list {
        display: flex;
        justify-content: space-between;

        .list__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 45%;
            margin-right: 25px;
            margin-left: 25px;
        }

        .item__block {
            display: flex;
            flex-direction: column;
            background: #E3E3E3;
            border-radius: 4px;
            margin-bottom: 50px;
            padding: 10px 20px;
        }

        .item__name {
            margin: 0;
        }

        .item__text {
            background: #ffffff;
            border-radius: 4px;
            padding: 10px;
        }
    }

    .reviews__arrows {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        .arrows__arrow {
            background: $red;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background: darken($color: $red, $amount: 20);
            }
        }

        .arrows__arrow--left {
            margin-right: 15px;
        }

        .arrows__arrow--right {
            margin-left: 15px;
        }
    }
    
}