.services {
    .services__container {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .services__menu {
        display: flex;
        flex-wrap: wrap;

        .menu__item {
            width: 25%;
            height: 220px;
            border: 1px solid #ffffff;
            background: #E5E5E5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .3s;
            cursor: pointer;

            &:hover {

                .item__title {
                    transform: translateY(0px);
                }

                .item__text {
                    opacity: 1;
                }
            }

            .item__link {
                text-decoration: none;
                color: #000000;
            }

            .item__title {
                transform: translateY(50px);
                transition: .3s;
                text-align: center;

                &--red {
                    color: red;
                }
            }

            .item__text {
                opacity: 0;
                transition: .3s;
                text-align: center;

                &--red {
                    color: red;
                }
            }
        }
    }
}