.service {
    background: url('../images/services-bg.png') center center no-repeat;
    background-size: cover;

    .service__container {
        padding-top: 100px;
        padding-bottom: 100px;
        color: #ffffff;
    }

    .service__title {
        color: #ffffff;
    }

    .service__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .list__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 45%;
        height: 280px;
        background: url('../images/services-item.png') center center no-repeat;
        background-size: cover;
        margin-bottom: 50px;
        border-radius: 4px;
        padding: 20px;
        transition: .3s;

        
        &:hover {

            .item__sale {
                height: 20px;
            }
        }

        .item__title {
            margin-top: 0;
            font-size: 36px;
            font-weight: 500;
            line-height: 40px;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
        }

        .item__sale {
            margin-top: 0;
            color: $red;
            height: 0px;
            overflow: hidden;
            transition: .3s;
        }

        .item__btn {
            background: $red;
            border: none;
            border-radius: 4px;
            color: #ffffff;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            padding: 10px 20px;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background: darken($red, 10%);
            }
        }
    }
}