.service {
    background: #E5E5E5;

    .service__container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .service__content {
        display: flex;
        justify-content: space-around;

        .content__slider {
            display: flex;
            width: 340px;
            
            .slider__slide {
                display: flex;
                flex-direction: column;
                background: url('../images/sale-service.png');
                background-size: cover;
                overflow: hidden;
                color: #ffffff;
                height: 520px;
                width: 340px;
                border-radius: 4px;
                padding: 10px;


                .slide__title {
                    font-size: 38px;
                    text-align: center;
                    margin-bottom: 27px;
                }

                .slide__old-price {
                    text-decoration: line-through;
                    font-size: 30px;
                    text-align: center;
                    margin: 0;
                    margin-bottom: 5px;
                }

                .slide__new-price {
                    color: $red;
                    font-size: 48px;
                    font-weight: bold;
                    text-align: center;
                    margin: 0;
                    margin-bottom: auto;
                }

                .slide__date {
                    font-size: 16px;
                    text-align: center;
                }

                .slide__btn {
                    background: $red;
                    border: none;
                    color: #ffffff;
                    border-radius: 4px;
                    height: 50px;
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        background: darken($color: $red, $amount: 20);
                    }
                }
            }
        }

        .content__about {
            background: #ffffff;
            padding: 20px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 4px;

            .about__title {
                font-size: 36px;
                text-align: center;
            }

            .about__price {
                border-spacing: 0 5px;
                display: flex;
                flex-direction: column;
                width: 100%;

                tbody {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                .price__row {
                    background: #E5E5E5;
                    transition: .3s;
                    border-bottom: 5px solid #ffffff;
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    border-radius: 4px;

                    &:hover {
                        background: $blue;
                        color: #ffffff;
                    }

                    .row__col-name {
                        width: 80%;
                    }

                    .row__col-price {
                        width: 15%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
            }

            .about__callback {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .callback__btn {
                background: $blue;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                border: none;
                height: 30px;
                width: 40%;
                border-radius: 4px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background: darken($color: $blue, $amount: 20);
                }
            }
        }
    }
}